<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSHealthShareUsageDescription</key>
    <string>歩数や健康データを読み取り、ダッシュボードに表示するために使用します。</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>健康データを記録するために使用します。</string>
</dict>
</plist>
